<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css') }}">
    </head>

    <body>
        <h1>
            Mood-based music database and
            recommendation system
        </h1>
        <a href="/suggest">
        <button class="button button1">
            RECOMMEND ME A PLAYLIST!
        </button></a>
        <a href="/search">
        <button class="button button2">
            SEARCH DATABASE
        </button></a>

    </body>
</html> 